<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home page</title>
  <%- include('_bootstrap.ejs')%>
  
</head>
<body>
<%- include('_navigation.ejs')%>

<div class="container-fluid">
    <%
      for(let error of errors){
    %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error ! <%=error.msg%></strong>
      </div>
    <%}%>
    <form action="/add-user" method="POST">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Mobile</label>
            <input type="text" name="mobile" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="text" name="age" class="form-control"/>
        </div>
        
        <div class="form-group">
          <button type="submit" class="btn btn-success">Add user</button>
        </div>
    </form>
</div>

</body>
</html>
