<!DOCTYPE html>
<html lang="en">
<head>
  <title>Express Application</title>
  <%- include('_bootstrap.ejs')%>
</head>
<body>
<%- include('_navigation.ejs')%>
<div class="container-fluid">
  <h3>About Page</h3>
</div>

</body>
</html>
